#carousel {
  height: fit-content;
}

#carousel img {
  height: 100vw;
  width: 100vw;
}

#carousel h3 {
  margin: 1rem;
}

#carousel h3 span {
  margin-right: 1rem;

  background-color: lightgray;
  padding: 0.063rem 0.5rem;
}

#carousel p {
  padding: 1rem;
  padding-top: 0;
}
