header {
	text-align: center;
	padding-top: 1rem;
	color: #1f1f1f;
	font-size: 1rem;
}

a {
	text-decoration: none;
}
footer {
	position: absolute;
	bottom: 1rem;

	left: 50%;
	transform: translate(-50%, -50%);
}
#logo {
	width: 64px;
}
